node_modules
.node-xmlhttprequest-sync-*
scTopics
allFiredEvents
in_complete_tests
coverage
coverageEnv
coverage.json
.coveralls.yml
.env
/build
/.merged
local_*
bindings.go

test/typings/bindings/*.ts
types/truffle-contracts/

!node_modules/openzeppelin-solidity/
node_modules/openzeppelin-solidity/*
!node_modules/openzeppelin-solidity/contracts/
